<!--Citation for the following functions: 
//Date: 7/22/2022
//Copied from /OR/ Adapted from /OR/ Based on:
 https://developer.mozilla.org/en-US/docs/Web/CSS/animation-->

<style>
    body {
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background: url("./img/surfboard-on-the-beach-wallpaper.jpg");
        background-size: cover;
        opacity: 0.5;

    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>

<div class="mainpageTitle" style="font-size: 200px;"> Waves Surfboards </div>

<div class="navbar">
    <a href="http://flip1.engr.oregonstate.edu:1331/"> Home </a>
    <a href="http://flip1.engr.oregonstate.edu:1331/customers"> Customers </a>
    <a href="http://flip1.engr.oregonstate.edu:1331/employees"> Employees </a>
    <a href="http://flip1.engr.oregonstate.edu:1331/orders"> Orders / Order Items </a>
    <a href="http://flip1.engr.oregonstate.edu:1331/surfboards"> Surfboards </a>
</div>